In [1]:
Name=0
Age=1
Sex=2
Email=3

In [2]:
Name,Age,Sex,Email=xrange(4)

In [4]:
student=('Jim',16,'male','jim@qq.com')

In [5]:
student[Name]

'Jim'

In [6]:
from collections import namedtuple

In [10]:
Student=namedtuple('Student',['name','age','sex','email'])

In [11]:
s=Student('Jim',16,'male','jim@qq.com')

In [12]:
s

Student(name='Jim', age=16, sex='male', email='jim@qq.com')

In [13]:
s2=Student(name='ha',age=11,sex='male',email='ss@qq.com')

In [14]:
s2

Student(name='ha', age=11, sex='male', email='ss@qq.com')

In [15]:
s2.age

11

In [16]:
isinstance(s,tuple)

True